<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title><%= pageTitle %> </title>
</head>
<body>
    

    <div class="box">
        <div class="box" id="heading">
            <h1> <%= listTitle %>   </h1>
        </div>
       
            <%   for(i = 0; i < listItems.length; i++){%>
                <div class="item">
                    <input type="checkbox">
                   <p> <%=listItems[i] %> </p>
                </div>
                
            <% }%>
       
        
         
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="Click here to add more">
        <button type="submit" name="index" value=<%= listTitle %> >+</button>
    </form>
     
        
        
    </div>
    
    
</body>
</html>